# MS-COCO image captioning persian version translation

[Dataset page](https://www.kaggle.com/awsaf49/coco-2017-dataset)

In [ ]:
# !wget http://images.cocodataset.org/annotations/annotations_trainval2017.zip

--2021-12-13 06:53:52--  http://images.cocodataset.org/annotations/annotations_trainval2017.zip
Resolving images.cocodataset.org (images.cocodataset.org)... 52.216.25.156
Connecting to images.cocodataset.org (images.cocodataset.org)|52.216.25.156|:80... connected.
HTTP request sent, awaiting response... 200 OK
Length: 252907541 (241M) [application/zip]
Saving to: ‘annotations_trainval2017.zip’

annotations_trainva 100%[===================>] 241.19M  15.4MB/s    in 17s

2021-12-13 06:54:09 (13.9 MB/s) - ‘annotations_trainval2017.zip’ saved [252907541/252907541]

In [ ]:
# !unzip ./annotations_trainval2017 -d coco_dataset

Archive:  ./annotations_trainval2017.zip
  inflating: coco_dataset/annotations/instances_train2017.json
  inflating: coco_dataset/annotations/instances_val2017.json
  inflating: coco_dataset/annotations/captions_train2017.json
  inflating: coco_dataset/annotations/captions_val2017.json
  inflating: coco_dataset/annotations/person_keypoints_train2017.json
  inflating: coco_dataset/annotations/person_keypoints_val2017.json

In [4]:
!pip install -q sentence_transformers
!pip install -q mtranslate

In [5]:
import pandas as pd
import numpy as np
import json
import random

from sentence_transformers import SentenceTransformer
from mtranslate import translate
from tqdm import tqdm
import torch

# Data

### Prepare data to be translated

In [ ]:
json_file = open("/content/coco_dataset/annotations/captions_train2017.json")
parsed_js = json.load(json_file)
json_file.close()

In [ ]:
parsed_js.keys()

dict_keys(['info', 'licenses', 'images', 'annotations'])

In [ ]:
caption_ds = pd.DataFrame(parsed_js['annotations'])
caption_ds.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 591753 entries, 0 to 591752
Data columns (total 3 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   image_id  591753 non-null  int64
 1   id        591753 non-null  int64
 2   caption   591753 non-null  object
dtypes: int64(2), object(1)
memory usage: 13.5+ MB

In [ ]:
caption_ds

        image_id      id                                            caption
0         203564      37  A bicycle replica with a clock as the front wh...
1         322141      49  A room with blue walls and a white sink and door.
2          16977      89  A car that seems to be parked illegally behind...
3         106140      98  A large passenger airplane flying through the ...
4         106140     101  There is a GOL plane taking off in a partly cl...
...          ...     ...                                                ...
591748    133071  829655  a slice of bread is covered with a sour cream ...
591749    410182  829658  A long plate hold some fries with some sliders...
591750    180285  829665       Two women sit and pose with stuffed animals.
591751    133071  829693  White Plate with a lot of guacamole and an ext...
591752    133071  829717      A dinner plate has a lemon wedge garnishment.

[591753 rows x 3 columns]

In [ ]:
caption_ds['image_id'].value_counts()

52109     7
23247     7
336464    7
279818    6
476074    6
         ..
372193    5
368103    5
392683    5
333302    5
8196      5
Name: image_id, Length: 118287, dtype: int64

In [ ]:
np.random.choice(np.array(caption_ds.loc[caption_ds['image_id'] == 52109].caption))

'Three teenagers play tennis on a court surrounded by greenery.'

In [ ]:
caption_ds.tail()

        image_id      id                                            caption
591748    133071  829655  a slice of bread is covered with a sour cream ...
591749    410182  829658  A long plate hold some fries with some sliders...
591750    180285  829665       Two women sit and pose with stuffed animals.
591751    133071  829693  White Plate with a lot of guacamole and an ext...
591752    133071  829717      A dinner plate has a lemon wedge garnishment.

In [ ]:
# find unique image_ids
unique_ids = np.unique(caption_ds['image_id'])
len(unique_ids)

118287

In [ ]:
# Pick a random caption from each image's captions
def randomPick(image_id):
    """
    Given an image_id choose a caption among its annotated captions randomly.
    """
    correspond_captions = np.array(caption_ds.loc[caption_ds['image_id'] == image_id].caption) # Find image related captions.
    picked_cap = random.choice(correspond_captions) # choose a random caption
    return picked_cap

# Define a list that will be contained image_ids and there corresponding randomly choosed caption.
picked_ds = []
for image_id in unique_ids:
    caption = randomPick(image_id)
    picked_ds.append(dict({'image_id': image_id, 'caption': caption})) # append it to list

In [ ]:
picked_ds

In [ ]:
df = pd.DataFrame(picked_ds)
df

        image_id                                            caption
0              9  Closeup of bins of food that include broccoli ...
1             25    A giraffe eating food from the top of the tree.
2             30         A flower vase is sitting on a porch stand.
3             34              The zebra is eating grass in the sun.
4             36  A woman posing for the camera, holding a pink,...
...          ...                                                ...
118282    581906  A damaged, leather suit case sitting on a dirt...
118283    581909               An old boat sits on a trailer hitch.
118284    581913                A group of donuts sitting in a box.
118285    581921  A man riding an orange snow board jumping off ...
118286    581929           Two horses are grazing in a green field.

[118287 rows x 2 columns]

In [ ]:
df.to_csv("./coco_selected.cvs", index=False)

In [ ]:
caption_ds.to_csv("/content/drive/MyDrive/Coco/coco_captions_original.csv", index=False)118

# Translation
Working on selected captions: 

* split them into some chunks, then translate chunks one by one.

In [6]:
class MultiLangSimilarity():
    def __init__(self, model_name, device='cpu'):
        self.model = SentenceTransformer(model_name, device=device)

    def __call__(self, text):
        return self.model.encode(text,  
                                convert_to_tensor=True,
                                normalize_embeddings=True)

    def score(self, a, b):
        a, b = self([a, b])
        return torch.dot(a, b).item()


class Translator():
    def __init__(self, model_name:str, min_score:float=.9, device:str='cpu'):
        self.min_score = min_score
        self.similar = MultiLangSimilarity(model_name=model_name, device=device)

    def __call__(self, sentences:list):
        outputs = []
        for i, sentence in tqdm(enumerate(sentences), total=len(sentences)):
            aug = translate(sentence, from_language='en', to_language='fa')
            score = self.similar.score(sentence, aug)
            if score >= self.min_score:
                outputs.append({'id': i, 'en': sentence, 'fa': aug, '%': score})
        return outputs

In [14]:
# Read selected csv
df = pd.read_csv('/home/kaen/Projects/Datasets/Coco/coco_selected.csv')
df

        image_id                                            caption
0              9  Closeup of bins of food that include broccoli ...
1             25    A giraffe eating food from the top of the tree.
2             30         A flower vase is sitting on a porch stand.
3             34              The zebra is eating grass in the sun.
4             36  A woman posing for the camera, holding a pink,...
...          ...                                                ...
118282    581906  A damaged, leather suit case sitting on a dirt...
118283    581909               An old boat sits on a trailer hitch.
118284    581913                A group of donuts sitting in a box.
118285    581921  A man riding an orange snow board jumping off ...
118286    581929           Two horses are grazing in a green field.

[118287 rows x 2 columns]

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 118287 entries, 0 to 118286
Data columns (total 2 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   image_id  118287 non-null  int64
 1   caption   118287 non-null  object
dtypes: int64(1), object(1)
memory usage: 1.8+ MB

In [9]:
# Split data into some chunks
chunks = np.array([df[x:x+5000] for x in range(0, len(df), 5000)])
chunks

/tmp/ipykernel_4887/2587052878.py:2: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray
  chunks = np.array([df[x:x+5000] for x in range(0, len(df), 5000)])

array([      image_id                                            caption
0            9  Closeup of bins of food that include broccoli ...
1           25    A giraffe eating food from the top of the tree.
2           30         A flower vase is sitting on a porch stand.
3           34              The zebra is eating grass in the sun.
4           36  A woman posing for the camera, holding a pink,...
...        ...                                                ...
4995     24591     Skier on slope near chair lift in alpine area.
4996     24600  A red double decker bus driving in front of a ...
4997     24601  A woman swings her hand out to hit a ball as p...
4998     24608  A parked motorcycle towing a four-wheeled cart...
4999     24609  A person sitting in a small, narrow boat fille...

[5000 rows x 2 columns],
             image_id                                            caption
5000     24621        A person riding a skateboard on the cement.
5001     24625  The woman is straightening the pants of a smal...
5002     24629  a stop sign with some arabic writing on the bo...
5003     24636                 A white sink and mirror in a room.
5004     24637  A photo of an ice covered ground with rock and...
...        ...                                                ...
9995     48784  A close up of a school bus parked in a parking...
9996     48786  A group of bikers are riding down the road in ...
9997     48789        A baseball player hitting a ball in a game.
9998     48791  A giraffe leans over a fence to eat from a hap...
9999     48794  A person doing an activity in the water on the...

[5000 rows x 2 columns],
              image_id                                            caption
10000     48795        A book called Our Crowd sitting on a bench.
10001     48797  A beach packed with people and colorful umbrellas
10002     48805  A dog seems to be observing something from the...
10003     48821                A child standing in front of a cow.
10004     48824    A man standing next to a pole reaching up high.
...         ...                                                ...
14995     73527  A street with a few people walking and cars in...
14996     73536  Servings of food near a Christmas center piece.
14997     73537  The man must pick which picture of the ducks i...
14998     73541  A blue sky is reflected in a motorcycle rear v...
14999     73549  A view of a dining room with a chandler above ...

[5000 rows x 2 columns],
              image_id                                            caption
15000     73554  a sheep with its head hanging over the top of ...
15001     73560  A child sits at a table that holds several piz...
15002     73567  A dog lying lazily on a bed peeking up from th...
15003     73568  A table that has been serving a large tray of ...
15004     73574        A herd of cows that are grazing in a field.
...         ...                                                ...
19995     98190  A young boy on a baseball field ready to catch...
19996     98193  a man and a woman are holding up different phones
19997     98194  Two black and white dogs in front of an abando...
19998     98197                 A bear that is walking in a field.
19999     98205                 A woman looks at her phone in bed.

[5000 rows x 2 columns],
              image_id                                            caption
20000     98210   A city bus waits for tourists to get on the bus.
20001     98213     A giant red stop sign suspended over a street.
20002     98220                a bunch of food is cooking in a pan
20003     98232  Birds rest on the canoes that are sitting on t...
20004     98233  a crowd of people are sitting outdoors  for a ...
...         ...                                                ...
24995    122777    A computer desk top with laptops and a monitor.
24996    122780  A girl sitting at a dining table with a birthd...
24997    122782        The man is showing the woman a slide show.
24998    122786  A cluttered but somewhat clean looking living ...
24999    122787  A couch sits beside a door opening to a bedroom.

[5000 rows x 2 columns],
              image_id                                            caption
25000    122796         There is a woman playing a game of tennis.
25001    122798       A person on a surfboard falls off on a wave.
25002    122802           An old man in the middle of his kitchen.
25003    122811  The two trains are moving in opposite directio...
25004    122818  A city square crowded with people gathering to...
...         ...                                                ...
29995    147058               A small black step on a busy street.
29996    147060  A man in a room full of other people working o...
29997    147068  A group of bikers parked in the middle of a st...
29998    147073  The man walks down the street in front of a bu...
29999    147076  A man standing on a tennis court holding a rac...

[5000 rows x 2 columns],
              image_id                                            caption
30000    147082  Four people ride horses on the beach while loo...
30001    147088  A man tosses a Frisbee while playing in the sa...
30002    147091  A man with a moped or motorcycle along a stree...
30003    147092  No image is appearing in this image descriptio...
30004    147094            This an image of a bird on a car mirror
...         ...                                                ...
34995    172012             A can and a sandwich on top of a menu.
34996    172017           A sad looking dog stares out the window.
34997    172020   A hand holding a tie intended for a cat to wear.
34998    172021    A woman waiting in front of a train to board it
34999    172023  The blue and yellow train is pulling cars alon...

[5000 rows x 2 columns],
              image_id                                            caption
35000    172036    A large black bear sitting on a wooden surface.
35001    172040  A kitchen with a refrigerator freezer sitting ...
35002    172051         A serving of meat and broccoli on a plate.
35003    172056  a man eating a burrito in front of a powered o...
35004    172057  A table with umbrella and chairs set up cafe s...
...         ...                                                ...
39995    196865     two books sitting in a pile on top of a table
39996    196870  THERE IS A ROOM WTHA A LOT OF STORAGE SPACE IN...
39997    196876           Some beans in a bowl and food on a tray.
39998    196878              An old image of a magazine from 1932.
39999    196879  A zebra is standing on gravel, facing the camera,

[5000 rows x 2 columns],
              image_id                                            caption
40000    196885  A baseball player holding a bat next to home p...
40001    196888  cups and plates left on the outside table with...
40002    196899  A bunch of people who are standing around a ta...
40003    196900         A little boy is playing with toilet paper.
40004    196912   A couple of young men standing on top of a field
...         ...                                                ...
44995    221771  A cow using it's tongue to take an apple from ...
44996    221776             A woman is skiing and walking her dog.
44997    221785                A very big boat docked on the pier.
44998    221787  A street scene with people crossing in a cross...
44999    221794        Two people using skis standing in the snow.

[5000 rows x 2 columns],
              image_id                                            caption
45000    221803  A row of buildings in a tow, one of them has a...
45001    221805          There is a boat going across some water.
45002    221814  A man holding a skateboard in front of a group...
45003    221820   a stop sign and no right run sign in a big city.
45004    221828  a glass blender on a kitchen counter with a to...
...         ...                                                ...
49995    246496      Many different types of food sit on a plate.
49996    246499  An clean and empty industrial kitchen with sta...
49997    246503   A cat laying on top of paper on a set of chairs.
49998    246512      A dog sitting in a wet puddle inside a fence.
49999    246528  A man on a cell phone and a man with a pony ta...

[5000 rows x 2 columns],
              image_id                                            caption
50000    246530  there are two giraffes that seem to be embraci...
50001    246532        A mountain with a ski slope and two skiers.
50002    246535      A man playing tennis strikes the tennis ball.
50003    246539  A person standing over a green bowl with fruit...
50004    246540  A rare treat sits on top of a specialty desert...
...         ...                                                ...
54995    271280  A couple of giraffe standing next to a  group ...
54996    271282            A woman taking a swing at a tennis ball
54997    271283  A yummy looking pizza with sauce, mushrooms an...
54998    271298  The view of a professional baseball game from ...
54999    271301  Small motor boat with some passengers in the w...

[5000 rows x 2 columns],
              image_id                                            caption
55000    271310  Large herd of cows moving across brown grassy ...
55001    271324         A tall giraffe standing in an arrid field.
55002    271338  there is a man that is wearing a suit and taki...
55003    271343  Laughing business people share a joke in the s...
55004    271344  A bright red panel truck is parked with a woma...
...         ...                                                ...
59995    295655  A young woman uses her phone while standing on...
59996    295656  some people standing together while eating and...
59997    295657  A very large green military truck on a road wi...
59998    295659               Two people ski over a field of snow.
59999    295668        A fresh pizza with broccoli on it is shown.

[5000 rows x 2 columns],
              image_id                                            caption
60000    295670  A person standing in the snow holding two ski ...
60001    295675  Yellow and blue train with British flag painte...
60002    295683    A close up image of a street sign in daylight.
60003    295686  A blue bench with a chicken reading a book on ...
60004    295688       A picture of a desk top computer on a desk .
...         ...                                                ...
64995    320171              A car parked outside of a small park.
64996    320173  A giraffe standing in a field next to some ver...
64997    320180         a close up of person sitting with a laptop
64998    320182        a large group of zebra on an African plain.
64999    320186  A female tennis player getting ready to hit a ...

[5000 rows x 2 columns],
              image_id                                            caption
65000    320192   A person laying on the ground holding a frisbee.
65001    320194  CHILD WITH HANDS TUCKED UNDER CHEEKS, LIES SLE...
65002    320200               A man holds many kites on his bike.
65003    320203              the sign says to stop and river point
65004    320217  Boats are anchored in the water with their sai...
...         ...                                                ...
69995    344238  Mirror and marble residential bathroom with tw...
69996    344254  A young male tennis player in action on the co...
69997    344255         A person that is playing in a tennis game.
69998    344259     A breakfast plate of scrambled eggs and fruit.
69999    344261  The giraffes are standing together by the wood...

[5000 rows x 2 columns],
              image_id                                            caption
70000    344264      A young man brushing his teeth in the street.
70001    344271    A man sitting eating an apple with his bicycle.
70002    344276  Picture of a large bed with white bedspread re...
70003    344279  A very cute white bunny sitting in a living room.
70004    344280  A clock on the wall of a building in a downtow...
...         ...                                                ...
74995    368528             A man is standing in the snow on skis.
74996    368541     A line of people waiting to board a jumbo jet.
74997    368547  Three white sheep sitting on a wooden stage in...
74998    368548      A person holding up a sandwich to the camera.
74999    368556  A photo is taken through a clear umbrella of a...

[5000 rows x 2 columns],
              image_id                                            caption
75000    368559                A truck that has spray paint on it.
75001    368564  Multiple swimmers and surfers are seen in the ...
75002    368565  A couple of little girls sitting on top of a c...
75003    368576    there is a male baseball player that is at base
75004    368577             A child eating a banana with her hands
...         ...                                                ...
79995    393243  A small child is eating a donut fed by another...
79996    393251              A man cutting a cake with his child.
79997    393254                  Two pictures of a tent and a bus.
79998    393258  Several pieces of luggage that are laying on t...
79999    393266  A car driving through a tunnel between two bui...

[5000 rows x 2 columns],
              image_id                                            caption
80000    393267  A woman standing in front of a table surrounde...
80001    393268  Man and woman standing while others are seated...
80002    393271  A photograph of several images of the same you...
80003    393274     A single train car stopped at a small station.
80004    393277  A clock tower in a European city looks down at...
...         ...                                                ...
84995    417660  a close up of a train on a train track with a ...
84996    417668              A sub sandwich on a plate with sides.
84997    417672        A boat with a director's chair on the front
84998    417674  Woman with luggage near phone at outdoor open ...
84999    417679  A group of jets with red, white and blue smoke...

[5000 rows x 2 columns],
              image_id                                            caption
85000    417689        A street sign on a pole next to a building.
85001    417693      Several men in red uniforms riding on horses.
85002    417696  Gold tone clock tower inside a shopping mall p...
85003    417700        A man surfing on top of a wave in the ocean
85004    417701  A very large colorful piece of graffiti on a t...
...         ...                                                ...
89995    442531  People sitting on wooden benches underneath so...
89996    442536  There is a full view of an outdoor area and it...
89997    442539           A bunch of sheep are standing in a field
89998    442542    A plate of broccoli and rice on a wooden table.
89999    442543        a desk with a watch pen keys gun and wallet

[5000 rows x 2 columns],
              image_id                                            caption
90000    442549  Several men riding their motorcycles on a stre...
90001    442554  A cake celebrating someone's 500th follower on...
90002    442556      A truck with a trailer is parked in a forest.
90003    442557    Pots and pans out side with steam coming out  .
90004    442565  A man standing next to a dog inside of a build...
...         ...                                                ...
94995    467257  A young man sitting on a couch using a laptop ...
94996    467262  A neon green atm machine next to a coke refrig...
94997    467265  These children are flying their kites in the s...
94998    467273  A batter gettign ready to swing at a pitch whi...
94999    467285  A baseball player holding a baseball bat durin...

[5000 rows x 2 columns],
              image_id                                            caption
95000    467295             A cat sitting on a pink stripped couch
95001    467296                   A hot dog with a bite taken out
95002    467297  A woman getting ready to cook some food in a s...
95003    467300  a woman and man standing in front of a large c...
95004    467308               A boat that is sitting in the water.
...         ...                                                ...
99995    491837  Several flower pots are arranged in front of a...
99996    491844                A red apple and a clock on display.
99997    491845  An out of focus picture of a cat in an open pi...
99998    491850    Cows in a pasture with two trucks behind them.
99999    491851               A home computer and mouse on a desk.

[5000 rows x 2 columns],
               image_id                                            caption
100000    491856  A room features a flat screen TV, a fireplace,...
100001    491857     Many people move through water on small boats.
100002    491872              The man is cleaning the toilet bowl.
100003    491873  A man takes a "selfie" in a mirror with a camera.
100004    491879  A man working on surfboards on top of a wooden...
...          ...                                                ...
104995    516795  A baseball player swinging at a baseball with ...
104996    516798  A red pick up truck parked on a field next to ...
104997    516799  Man holding up a small square bar with the let...
104998    516800            a long green train on some metal tracks
104999    516805         A table full of items and on a sunny day.

[5000 rows x 2 columns],
               image_id                                            caption
105000    516808  A group of people eating a slice of cake on a ...
105001    516812              A red fire hydrant in front of a tree
105002    516813       A little boy in ski gear riding down a hill.
105003    516823  a fire hydrant sitting undeneath trees covered...
105004    516827             A small horse by a barbed wire fence\n
...          ...                                                ...
109995    541472        these fruits are together in a metal basket
109996    541474     a man on a snowboard is riding down the slope.
109997    541478  A man is smiling while holding a picture of a ...
109998    541485  An elephant is standing in the middle of bushe...
109999    541486                A large bike and a man on a street.

[5000 rows x 2 columns],
               image_id                                            caption
110000    541491              A desk with a computer sitting on it.
110001    541493           The sink has a mirrored cabinet above it
110002    541496  Blue, black and red luggage sit on the floor n...
110003    541505  THREE YELLOW BOTTLES, ONE WITH FLOWERS IN FRON...
110004    541506  A semi truck sits in front of a building with ...
...          ...                                                ...
114995    565864             A man is in a pen with a dog and sheep
114996    565869     A surfer is surfing on the fast running water.
114997    565870  There is a round homemade pizza in the foregro...
114998    565875    A bus driving down a road next to a brown bear.
114999    565876   A man in a beanie and jacket brushing his teeth.

[5000 rows x 2 columns],
               image_id                                            caption
115000    565878      A man holding a hot dog in both of his hands.
115001    565884  There are two elephants that are standing in t...
115002    565886       A living room is shown with leather couches.
115003    565902  A cheesy sandwich on a sub bun is sitting alon...
115004    565903    Young woman who barely threw a frisbee in park.
...          ...                                                ...
118282    581906  A damaged, leather suit case sitting on a dirt...
118283    581909               An old boat sits on a trailer hitch.
118284    581913                A group of donuts sitting in a box.

In [10]:
len(chunks)

24

In [15]:
# Append translated result to our dataframe
def appendToDataFrame(result, data_frame):
    for cap in result:
        data_frame.loc[cap['en'], 'fa_caption'] = cap['fa']
        print('Result appended to the dataset...')

def saveDataFrame(data_frame, write_to='/home/kaen/Projects/Datasets/Coco/coco_translated.csv'):
    data_frame.to_csv(write_to, index=False)
    print('Dataset modiifed...')

In [16]:
if __name__ == '__main__':
  # loop through chunks
  for chunk in chunks:  
    captions = chunk.caption  # Retrieve captions from data chunk
    model_name = 'paraphrase-multilingual-mpnet-base-v2'
    translator = Translator(model_name=model_name, min_score=0.85, device='cpu')
    output = translator(sentences=captions)
    print(output)
    # Append the output to the dataframe
    appendToDataFrame(output, df)
    saveDataFrame(df)

Downloading:   0%|          | 0.00/690 [00:00<?, ?B/s]

Downloading:   0%|          | 0.00/3.77k [00:00<?, ?B/s]

Downloading:   0%|          | 0.00/723 [00:00<?, ?B/s]

Downloading:   0%|          | 0.00/122 [00:00<?, ?B/s]

Downloading:   0%|          | 0.00/229 [00:00<?, ?B/s]

Downloading:   0%|          | 0.00/1.11G [00:00<?, ?B/s]

ConnectionError: HTTPSConnectionPool(host='cdn-lfs.huggingface.co', port=443): Read timed out.