# MS-COCO image captioning persian version translation

[Dataset page](https://www.kaggle.com/awsaf49/coco-2017-dataset)

In [ ]:
# !wget http://images.cocodataset.org/annotations/annotations_trainval2017.zip

--2021-12-13 06:53:52--  http://images.cocodataset.org/annotations/annotations_trainval2017.zip
Resolving images.cocodataset.org (images.cocodataset.org)... 52.216.25.156
Connecting to images.cocodataset.org (images.cocodataset.org)|52.216.25.156|:80... connected.
HTTP request sent, awaiting response... 200 OK
Length: 252907541 (241M) [application/zip]
Saving to: ‘annotations_trainval2017.zip’

annotations_trainva 100%[===================>] 241.19M  15.4MB/s    in 17s

2021-12-13 06:54:09 (13.9 MB/s) - ‘annotations_trainval2017.zip’ saved [252907541/252907541]

In [ ]:
# !unzip ./annotations_trainval2017 -d coco_dataset

Archive:  ./annotations_trainval2017.zip
  inflating: coco_dataset/annotations/instances_train2017.json
  inflating: coco_dataset/annotations/instances_val2017.json
  inflating: coco_dataset/annotations/captions_train2017.json
  inflating: coco_dataset/annotations/captions_val2017.json
  inflating: coco_dataset/annotations/person_keypoints_train2017.json
  inflating: coco_dataset/annotations/person_keypoints_val2017.json

In [1]:
import pandas as pd
import numpy as np
import json
import random

# Data

### Prepare data to be translated

In [ ]:
json_file = open("/content/coco_dataset/annotations/captions_train2017.json")
parsed_js = json.load(json_file)
json_file.close()

In [ ]:
parsed_js.keys()

dict_keys(['info', 'licenses', 'images', 'annotations'])

In [ ]:
caption_ds = pd.DataFrame(parsed_js['annotations'])
caption_ds.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 591753 entries, 0 to 591752
Data columns (total 3 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   image_id  591753 non-null  int64
 1   id        591753 non-null  int64
 2   caption   591753 non-null  object
dtypes: int64(2), object(1)
memory usage: 13.5+ MB

In [ ]:
caption_ds

        image_id      id                                            caption
0         203564      37  A bicycle replica with a clock as the front wh...
1         322141      49  A room with blue walls and a white sink and door.
2          16977      89  A car that seems to be parked illegally behind...
3         106140      98  A large passenger airplane flying through the ...
4         106140     101  There is a GOL plane taking off in a partly cl...
...          ...     ...                                                ...
591748    133071  829655  a slice of bread is covered with a sour cream ...
591749    410182  829658  A long plate hold some fries with some sliders...
591750    180285  829665       Two women sit and pose with stuffed animals.
591751    133071  829693  White Plate with a lot of guacamole and an ext...
591752    133071  829717      A dinner plate has a lemon wedge garnishment.

[591753 rows x 3 columns]

In [ ]:
caption_ds['image_id'].value_counts()

52109     7
23247     7
336464    7
279818    6
476074    6
         ..
372193    5
368103    5
392683    5
333302    5
8196      5
Name: image_id, Length: 118287, dtype: int64

In [ ]:
np.random.choice(np.array(caption_ds.loc[caption_ds['image_id'] == 52109].caption))

'Three teenagers play tennis on a court surrounded by greenery.'

In [ ]:
caption_ds.tail()

        image_id      id                                            caption
591748    133071  829655  a slice of bread is covered with a sour cream ...
591749    410182  829658  A long plate hold some fries with some sliders...
591750    180285  829665       Two women sit and pose with stuffed animals.
591751    133071  829693  White Plate with a lot of guacamole and an ext...
591752    133071  829717      A dinner plate has a lemon wedge garnishment.

In [ ]:
# find unique image_ids
unique_ids = np.unique(caption_ds['image_id'])
len(unique_ids)

118287

In [ ]:
# Pick a random caption from each image's captions
def randomPick(image_id):
  """
  Given an image_id choose a caption among its annotated captions randomly.
  """
  correspond_captions = np.array(caption_ds.loc[caption_ds['image_id'] == image_id].caption) # Find image related captions.
  picked_cap = random.choice(correspond_captions) # choose a random caption
  return picked_cap

# Define a list that will be contained image_ids and there corresponding randomly choosed caption.
picked_ds = []
for image_id in unique_ids:
  caption = randomPick(image_id)
  picked_ds.append(dict({'image_id': image_id, 'caption': caption})) # append it to list

In [ ]:
picked_ds

In [ ]:
df = pd.DataFrame(picked_ds)
df

        image_id                                            caption
0              9  Closeup of bins of food that include broccoli ...
1             25    A giraffe eating food from the top of the tree.
2             30         A flower vase is sitting on a porch stand.
3             34              The zebra is eating grass in the sun.
4             36  A woman posing for the camera, holding a pink,...
...          ...                                                ...
118282    581906  A damaged, leather suit case sitting on a dirt...
118283    581909               An old boat sits on a trailer hitch.
118284    581913                A group of donuts sitting in a box.
118285    581921  A man riding an orange snow board jumping off ...
118286    581929           Two horses are grazing in a green field.

[118287 rows x 2 columns]

In [ ]:
df.to_csv("./coco_selected.cvs", index=False)

In [ ]:
caption_ds.to_csv("/content/drive/MyDrive/Coco/coco_captions_original.csv", index=False)118

# Translation
Working on selected captions: 

* split them into some chunks, then translate chunks one by one.

In [3]:
# Read selected csv
df = pd.read_csv('/home/kaen/Projects/Datasets//Coco/coco_selected.cvs')
df

        image_id                                            caption
0              9  Closeup of bins of food that include broccoli ...
1             25    A giraffe eating food from the top of the tree.
2             30         A flower vase is sitting on a porch stand.
3             34              The zebra is eating grass in the sun.
4             36  A woman posing for the camera, holding a pink,...
...          ...                                                ...
118282    581906  A damaged, leather suit case sitting on a dirt...
118283    581909               An old boat sits on a trailer hitch.
118284    581913                A group of donuts sitting in a box.
118285    581921  A man riding an orange snow board jumping off ...
118286    581929           Two horses are grazing in a green field.

[118287 rows x 2 columns]